footer {
  padding: 1rem 5%;
  background: var(--cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  flex-wrap: wrap;
}

.social-icons {
  padding: 20px 0;
}
.social-icons a {
  color: var(--forest);
  font-size: 1.7rem;
  margin-left: 10px;
  transition: 0.3s;
}